name: Angular CI and Coverage Report

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x] # Utilisation d'une version LTS pour Angular

    steps:
      # Étape 1 : Cloner le dépôt
      - uses: actions/checkout@v4

      # Étape 2 : Configurer Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # Étape 3 : Installer les dépendances
      - name: Install dependencies
        run: npm ci
        working-directory: ./front

      # Étape 4 : Exécuter les tests avec couverture
      - name: Run Tests and Generate Coverage
        run: npm run test:prod -- --code-coverage
        working-directory: ./front

      # Étape 5 : Linter le code
      - name: Run Lint
        run: npm run lint
        working-directory: ./front

      # Étape 6 : Upload des rapports de couverture
      - name: Upload Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: frontend-coverage-report
          path: front/coverage

      # Étape 7 : Analyse avec SonarCloud
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v3.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=OumouSdb_Gerez-un-projet-collaboratif-en-int-grant-une-demarche-CI-CD
            -Dsonar.organization=oumousdb
            -Dsonar.sources=front/src
            -Dsonar.javascript.lcov.reportPaths=front/coverage/lcov.info
