on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

name: SonarCloud Scan Workflow

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@v2.1.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
